{% extends "base.html" %} {% block title %}Home{% endblock %} {% block head %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<style>
  .plot-container {
    background: #111111;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 2px 12px #0006;
    margin-bottom: 2em;
  }
  .plotly-graph-div {
    border-radius: 12px;
    margin-bottom: 32px;
    box-shadow: 0 2px 12px #0008;
  }
</style>
{% endblock %} {% block content %}
<h1>Finwar</h1>
<hr />
<p>
  Bots join a server, trade in a simulated market, and battle for profit.
  <br />
  Think of it as half-CTF - half-Wall Street.
  <br />
  <a href="/leaderboard">The Leaderboard</a>
  tracks the best.
  <br />
  Below is an example of data trading bots might be working with.
  <br />
</p>
<hr />
<!-- {% call super() %} -->
{% endblock %}
