{% extends "base.html" %} {% block title %}Leaderboard{% endblock %} {% block
head %}{% endblock %} {% block content %}
<h1>Leaderboard</h1>
<hr />
<p>There are currently {{ total_bots }} bots competing for profit.</p>

Each bot starts with <strong>${{ starting_cash }}</strong> in cash and <strong>{{ starting_assets }}</strong> assets.
</p>
<p>
  You can click on a bot's name to view its detailed statistics and performance
  over time.
</p>
<h2>Ranks</h2>
<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Bot</th>
      <th>Cash</th>
      <th>Assets</th>
      <th>Profit</th>
      <th>Profit %</th>
    </tr>
  </thead>

    {% include "ranking-bot-row.html" %}

</table>
<hr />
<h2>Last Orders</h2>
<table>
  <thead>
    <tr>
      <th>Bot</th>
      <th>Symbol</th>
      <th>Type</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for order in all_orders %}
    <tr>
      <td><a href="/api/bot/{{ order.bot_id_short }}">{{ order.bot_name }}</a></td>
      <td>{{ order.symbol }}</td>
      <td>{{ order.order_type }}</td>
      <td>{{ order.quantity }}</td>
      <td>${{ order.price | fmt("{:.2}") }}</td>
      <td>{{ order.status }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br />
<a href="/home">← Home</a>
{% endblock %}
